<div>
    <p>
        <a data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion1">
            Informacion Principal
            <%= tituloInformacionMapaVista %>
        </a>
    </p>
</div>

<div id="informacion1" class="panel-collapse collapse">
    <p class="descripcionProvincia">
        Descripcion de información
        <%= descripcionInformacionMapaVista %>
    </p>
</div>

<div>
    <p>
        <a data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion2">
            Carga Horaria
            <%= tituloInformacionMapaVista %>
        </a>
    </p>
</div>

<div id="informacion2" class="panel-collapse collapse">
    <p class="descripcionProvincia">
        Descripcion de carga horaria
        <%= descripcionInformacionMapaVista %>
    </p>
</div>

<div>
    <p>
        <a data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion3">
            Informacion del profesor
            <%= tituloInformacionMapaVista %>
        </a>
    </p>
</div>

<div id="informacion3" class="panel-collapse collapse">
    <p class="descripcionProvincia">
        Descripcion de información del profesor
        <%= descripcionInformacionMapaVista %>
    </p>
</div>