<svg xmlns="http://www.w3.org/2000/svg" width="1058.823533371658" height="992.9411822784323" aria-labelledby="text" aria-describedby="desc" style="display: inline; width: inherit; min-width: inherit; max-width: inherit; height: inherit; min-height: inherit; max-height: inherit;" id="plano" fill="none" class="svg">

    <defs>
        <!--<pattern id="Triangle" x="0" y="0" width="3" height="3" patternUnits="userSpaceOnUse" patternTransform="rotate(0)">

    <path d="M 0 0 Q 5 30 10 10 T 20 20" stroke="#62c481" fill="none" />
</pattern>-->

        <pattern id="grid" x="0" y="0" width="8" height="6" patternUnits="userSpaceOnUse" patternTransform="rotate(90)">

            <rect id="lineainclinada" x="0" y="0" width="10" height="4" fill="#62c481" />
        </pattern>


        <pattern id="basicPattern" x="0" y="0" width="6" height="6" patternUnits="userSpaceOnUse" patternTransform="rotate(135)">

            <rect id="lineainclinada" x="0" y="0" width="6" height="4" fill="#ada9d3" />
        </pattern>




        <pattern id="lineas" x="0" y="0" width="13" height="13" patternUnits="userSpaceOnUse" patternTransform="rotate(0)">

            <rect x="2" y="2" width="14" height="14" fill="#edb1a8" />

        </pattern>


        <pattern id="Triangle" x="0" y="0" width="9" height="9" patternUnits="userSpaceOnUse" patternTransform="rotate(45)">
            <rect id="lineainclinada" x="0" y="0" width="7" height="7" fill="#e2c48e" />



        </pattern>

        <pattern id="banio1" x="0" y="0" width="2.5" height="2.5" patternUnits="userSpaceOnUse" patternTransform="rotate(90)">
            <rect id="lineainclinada" x="0" y="0" width="2" height="2.5" fill="#03658f" />

        </pattern>

        <pattern id="banio2" x="0" y="0" width="3" height="3" patternUnits="userSpaceOnUse" patternTransform="rotate(90)">
            <rect id="lineainclinada" x="0" y="0" width="2" height="3" fill="#c57ba1" />

        </pattern>


        <pattern id="grid20" width="10" height="10" patternUnits="userSpaceOnUse">
            <path d="M 100 0 L 0 0 0 100" fill="none" stroke="#f4f4f4" stroke-width="2" />
        </pattern>
    </defs>

    <rect fill="url(#grid20)" height="992.9411822784323" width="1058.823533371658" y="0"></rect>

    <title>Mapa accesible facultad de ingenieria de sistemas</title>

    <g class="currentLayer">


        <g id="svg_2">
            <a onclick="cargarInformacionOficina('99')">
                <title>Bodega</title>

                <path title="Bodega" fill="url(#Triangle)" class="<%= idOficina == '99' ? 'svgSeleccionado' : ' ' %>" d="M912.68,491 C912.68,491 912.67,548.35 912.67,548.35 C912.67,548.35 774.69,548.37 774.69,548.37 C774.69,548.37 774.74,491.02 774.74,491.02 C774.74,491.02 912.68,491 912.68,491 z" addinfo="Bodega2" stroke="#000000" stroke-opacity="1" id="Bodega2" tabindex="99" />
            </a>
        </g>

        <g id="svg_3">
            <a onclick="cargarInformacionOficina('91')">
                <title>Proyecto De Investigacion</title>
                <path title="Proyecto De Investigacion" fill="url(#Triangle)" class="<%= idOficina == '91' ? 'svgSeleccionado' : '' %>" id="ProyectoDeInvestigacion2" d="M774.7,722.0853673020343 C774.7,722.0853673020343 774.7,808.7103701630573 774.7,808.7103701630573 C774.7,808.7103701630573 674.95,808.7103701630573 674.95,808.7103701630573 C674.95,808.7103701630573 674.95,722.0853673020343 674.95,722.0853673020343 C674.95,722.0853673020343 774.7,722.0853673020343 774.7,722.0853673020343 z" addinfo="Proyecto De Investigacion" stroke="#000000" stroke-opacity="1" tabindex="91" />
            </a>
        </g>

        <g id="svg_4">
            <a onclick="cargarInformacionOficina('85')">
                <title>TaniaPazminio AndresCevallos</title>
                <path title="TaniaPazminio y AndresCevallos" fill="url(#Triangle)" class="<%= idOficina == '85' ? 'svgSeleccionado' : '' %>" d="M774.700006514689,491.22888127741805 C774.700006514689,491.22888127741805 774.700006514689,722.4140643493384 774.700006514689,722.4140643493384 C774.700006514689,722.4140643493384 674.9500094826317,722.4140643493384 674.9500094826317,722.4140643493384 C674.9500094826317,722.4140643493384 674.9500094826317,491.22888127741805 674.9500094826317,491.22888127741805 C674.9500094826317,491.22888127741805 774.700006514689,491.22888127741805 774.700006514689,491.22888127741805 z" addinfo="TaniaPazminio AndresCevallos" stroke="#000000" stroke-opacity="1" id="TaniaPazminioAndresCevallos" tabindex="85" />
            </a>
        </g>

        <g id="svg_5">
            <a onclick="cargarInformacionOficina('89')">
                <title>Conserjeria1</title>
                <path title="Conserjeria1" fill="url(#Triangle)" class="<%= idOficina == '89' ? 'svgSeleccionado' : '' %>" d="M613.4171814704079,631.4238135913549 C613.4171814704079,631.4238135913549 613.4171814704079,722.6637270580561 613.4171814704079,722.6637270580561 C613.4171814704079,722.6637270580561 510.0377117701487,722.6637270580561 510.0377117701487,722.6637270580561 C510.0377117701487,722.6637270580561 510.0377117701487,631.4238135913549 510.0377117701487,631.4238135913549 C510.0377117701487,631.4238135913549 613.4171814704079,631.4238135913549 613.4171814704079,631.4238135913549 z" addinfo="Conserjeria1" stroke="#000000" stroke-opacity="1" id="Conserjeria1" tabindex="89" />
            </a>
        </g>

        <g id="svg_6">
            <a onclick="cargarInformacionOficina('69')">
                <title>Enrique Mafla</title>
                <path title="Enrique Mafla" fill="url(#basicPattern)" class="<%= idOficina == '69' ? 'svgSeleccionado' : '' %>" d="M307.86164525697455,853.9952354493594 C307.86164525697455,853.9952354493594 307.86164525697455,940.3250938289372 307.86164525697455,940.3250938289372 C307.86164525697455,940.3250938289372 218.01656361011962,940.3250938289372 218.01656361011962,940.3250938289372 C218.01656361011962,940.3250938289372 218.01656361011962,853.9952354493594 218.01656361011962,853.9952354493594 C218.01656361011962,853.9952354493594 307.86164525697455,853.9952354493594 307.86164525697455,853.9952354493594 z" addinfo="Enrique Mafla" stroke="#000000" stroke-opacity="1" id="EnriqueMafla" tabindex="69" />
            </a>
        </g>
        <g id="svg_7">
            <a onclick="cargarInformacionOficina('71')">
                <title>Tania Calle</title>
                <path title="Tania Calle" fill="url(#basicPattern)" class="<%= idOficina == '71' ? 'svgSeleccionado' : ' ' %>" d="M307.86164525697455,767.4238090577578 C307.86164525697455,767.4238090577578 307.86164525697455,853.7536674373356 307.86164525697455,853.7536674373356 C307.86164525697455,853.7536674373356 218.01656361011962,853.7536674373356 218.01656361011962,853.7536674373356 C218.01656361011962,853.7536674373356 218.01656361011962,767.4238090577578 218.01656361011962,767.4238090577578 C218.01656361011962,767.4238090577578 307.86164525697455,767.4238090577578 307.86164525697455,767.4238090577578 z" addinfo="Tania Calle" stroke="#000000" stroke-opacity="1" id="TaniaCalle" tabindex="71" />
            </a>
        </g>
        <g id="svg_8">
            <a onclick="cargarInformacionOficina('75')">
                <title>Maria Perez</title>
                <path title="Maria Perez" fill="url(#basicPattern)" class="<%= idOficina == '75' ? 'svgSeleccionado' : ' ' %>" d="M454.7187915200971,630.0666568879063 C454.7187915200971,630.0666568879063 454.7187915200971,720.8965189075125 454.7187915200971,720.8965189075125 C454.7187915200971,720.8965189075125 364.8737098732422,720.8965189075125 364.8737098732422,720.8965189075125 C364.8737098732422,720.8965189075125 364.8737098732422,630.0666568879063 364.8737098732422,630.0666568879063 C364.8737098732422,630.0666568879063 454.7187915200971,630.0666568879063 454.7187915200971,630.0666568879063 z" addinfo="Maria Perez" stroke="#000000" stroke-opacity="1" id="MariaPerez" tabindex="75" />
            </a>
        </g>
        <g id="svg_9">
            <a onclick="cargarInformacionOficina('53')">
                <title>Bolivar Palán</title>
                <path title="Bolivar Palán" fill="url(#basicPattern)" class="<%= idOficina == '53' ? 'svgSeleccionado' : ' ' %>" d="M454.5060257043709,491.13048619434807 C454.5060257043709,491.13048619434807 454.5060257043709,583.6837558642541 454.5060257043709,583.6837558642541 C454.5060257043709,583.6837558642541 363.9375391418752,583.6837558642541 363.9375391418752,583.6837558642541 C363.9375391418752,583.6837558642541 363.9375391418752,491.13048619434807 363.9375391418752,491.13048619434807 C363.9375391418752,491.13048619434807 454.5060257043709,491.13048619434807 454.5060257043709,491.13048619434807 z" addinfo="Bolivar Palán" stroke="#000000" stroke-opacity="1" id="BolivarPalan" tabindex="53" />
            </a>
        </g>
        <g id="svg_10">
            <a onclick="cargarInformacionOficina('55')">
                <title>Rodrigo Chancusig</title>
                <path title="Rodrigo Chancusig" fill="url(#basicPattern)" class="<%= idOficina == '55' ? 'svgSeleccionado' : ' ' %>" d="M363.8267326194935,490.61711742832824 C363.8267326194935,490.61711742832824 363.8267326194935,583.7208440350794 363.8267326194935,583.7208440350794 C363.8267326194935,583.7208440350794 269.4128459305933,583.7208440350794 269.4128459305933,583.7208440350794 C269.4128459305933,583.7208440350794 269.4128459305933,490.61711742832824 269.4128459305933,490.61711742832824 C269.4128459305933,490.61711742832824 363.8267326194935,490.61711742832824 363.8267326194935,490.61711742832824 z" addinfo="Rodrigo Chancusig" stroke="#000000" stroke-opacity="1" id="RodrigoChancusig" tabindex="55" />
            </a>
        </g>
        <g id="svg_11">
            <a onclick="cargarInformacionOficina('57')">
                <title>Luis Salvador</title>
                <path title="Luis Salvador" fill="url(#basicPattern)" class="<%= idOficina == '57' ? 'svgSeleccionado' : ' ' %>" d="M268.80649928455045,490.76840845606125 C268.80649928455045,490.76840845606125 268.80649928455045,583.8965235841104 268.80649928455045,583.8965235841104 C268.80649928455045,583.8965235841104 176.96141700334414,583.8965235841104 176.96141700334414,583.8965235841104 C176.96141700334414,583.8965235841104 176.96141700334414,490.76840845606125 176.96141700334414,490.76840845606125 C176.96141700334414,490.76840845606125 268.80649928455045,490.76840845606125 268.80649928455045,490.76840845606125 z" addinfo="Luis Salvador" stroke="#000000" stroke-opacity="1" id="LuisSalvador" tabindex="57" /> </a>
        </g>
        <g id="svg_12">
            <a onclick="cargarInformacionOficina('61')">
                <title>Myriam Hernandez</title>
                <path title="Myriam Hernandez" fill="url(#basicPattern)" class="<%= idOficina == '61' ? 'svgSeleccionado' : ' ' %>" d="M147.75386105184248,583.7508699659493 C147.75386105184248,583.7508699659493 147.75386105184248,677.5807370579494 147.75386105184248,677.5807370579494 C147.75386105184248,677.5807370579494 55.90877877063616,677.5807370579494 55.90877877063616,677.5807370579494 C55.90877877063616,677.5807370579494 55.90877877063616,583.7508699659493 55.90877877063616,583.7508699659493 C55.90877877063616,583.7508699659493 147.75386105184248,583.7508699659493 147.75386105184248,583.7508699659493 z" addinfo="Myriam Hernandez" stroke="#000000" stroke-opacity="1" id="MyriamHernandez" tabindex="61" />
            </a>
        </g>
        <g id="svg_13">
            <a onclick="cargarInformacionOficina('67')">
                <title>Profesor Visitante</title>
                <path title="Profesor Visitante" fill="url(#basicPattern)" class="<%= idOficina == '67' ? 'svgSeleccionado' : ' ' %>" d="M147.75386218433073,854.6280771522142 C147.75386218433073,854.6280771522142 147.75386218433073,940.3877679547901 147.75386218433073,940.3877679547901 C147.75386218433073,940.3877679547901 55.90877990312441,940.3877679547901 55.90877990312441,940.3877679547901 C55.90877990312441,940.3877679547901 55.90877990312441,854.6280771522142 55.90877990312441,854.6280771522142 C55.90877990312441,854.6280771522142 147.75386218433073,854.6280771522142 147.75386218433073,854.6280771522142 z" addinfo="Profesor Visitante" stroke="#000000" stroke-opacity="1" id="ProfesorVisitante" tabindex="67" />
            </a>
        </g>


        <g id="svg_15">
            <a onclick="cargarInformacionOficina('65')">
                <title>Andres Larco</title>
                <path title="Andres Larco" fill="url(#basicPattern)" class="<%= idOficina == '65' ? 'svgSeleccionado' : ' ' %>" d="M147.75386218433073,765.5052657206702 C147.75386218433073,765.5052657206702 147.75386218433073,854.7737309331783 147.75386218433073,854.7737309331783 C147.75386218433073,854.7737309331783 55.90877990312441,854.7737309331783 55.90877990312441,854.7737309331783 C55.90877990312441,854.7737309331783 55.90877990312441,765.5052657206702 55.90877990312441,765.5052657206702 C55.90877990312441,765.5052657206702 147.75386218433073,765.5052657206702 147.75386218433073,765.5052657206702 z" addinfo="Andres Larco" stroke="#000000" stroke-opacity="1" id="AndresLarco" tabindex="65" />
            </a>
        </g>

        <g id="svg_16">
            <a onclick="cargarInformacionOficina('63')">
                <title>Henry Paz</title>
                <path title="Henry Paz" fill="url(#basicPattern)" class="<%= idOficina == '63' ? 'svgSeleccionado' : ' ' %>" d="M147.75386218433073,677.4350923955401 C147.75386218433073,677.4350923955401 147.75386218433073,765.3000476865061 147.75386218433073,765.3000476865061 C147.75386218433073,765.3000476865061 55.90877990312441,765.3000476865061 55.90877990312441,765.3000476865061 C55.90877990312441,765.3000476865061 55.90877990312441,677.4350923955401 55.90877990312441,677.4350923955401 C55.90877990312441,677.4350923955401 147.75386218433073,677.4350923955401 147.75386218433073,677.4350923955401 z" addinfo="Henry Paz" stroke="#000000" stroke-opacity="1" id="HenryPaz" tabindex="63" />
            </a>
        </g>

        <g id="svg_17">
            <a onclick="cargarInformacionOficina('59')">
                <title>Marco Santorum</title>
                <path title="Marco Santorum" fill="url(#basicPattern)" class="<%= idOficina == '59' ? 'svgSeleccionado' : ' ' %>" d="M177.22754300328043,490.76840988530853 C177.22754300328043,490.76840988530853 177.22754300328043,583.896522274198 177.22754300328043,583.896522274198 C177.22754300328043,583.896522274198 55.90877874139563,583.896522274198 55.90877874139563,583.896522274198 C55.90877874139563,583.896522274198 55.90877874139563,490.76840988530853 55.90877874139563,490.76840988530853 C55.90877874139563,490.76840988530853 177.22754300328043,490.76840988530853 177.22754300328043,490.76840988530853 z" stroke="#000000" stroke-opacity="1" id="MarcoSantorum" addinfo="Marco Santorum" tabindex="59" />
            </a>
        </g>


        <g id="svg_18">
            <a onclick="cargarInformacionOficina('41')">
                <title>Almacen Decanato</title>
                <path title="Almacen Decanato" fill="url(#lineas)" class="<%= idOficina == '41' ? 'svgSeleccionado' : ' ' %>" d="M293.36788868891387,417.61856155450255 C293.36788868891387,417.61856155450255 293.36788868891387,490.7466742973444 293.36788868891387,490.7466742973444 C293.36788868891387,490.7466742973444 55.90877744727503,490.7466742973444 55.90877744727503,490.7466742973444 C55.90877744727503,490.7466742973444 55.90877744727503,417.61856155450255 55.90877744727503,417.61856155450255 C55.90877744727503,417.61856155450255 293.36788868891387,417.61856155450255 293.36788868891387,417.61856155450255 z" addinfo="AlmacenDecanato" stroke="#000000" stroke-opacity="1" id="AlmacenDecanato" tabindex="41" />
            </a>
        </g>

        <g id="svg_19">
            <a onclick="cargarInformacionOficina('47')">
                <title>Secretaría doctorado</title>
                <path title="Secretaría doctorado" fill="url(#lineas)" class="<%= idOficina == '47' ? 'svgSeleccionado' : ' ' %>" d="M344.63916048541773,255.4350946949421 C344.63916048541773,255.4350946949421 344.63916048541773,369.0632062714937 344.63916048541773,369.0632062714937 C344.63916048541773,369.0632062714937 294.6786893817305,369.0632062714937 294.6786893817305,369.0632062714937 C294.6786893817305,369.0632062714937 294.6786893817305,255.4350946949421 294.6786893817305,255.4350946949421 C294.6786893817305,255.4350946949421 344.63916048541773,255.4350946949421 344.63916048541773,255.4350946949421 z" addinfo="Secretaría doctorado" stroke="#000000" stroke-opacity="1" id="SecretariaDoctorado" tabindex="47" />
            </a>
        </g>
        <g id="svg_20">
            <a onclick="cargarInformacionOficina('73')">
                <title>Marco Benalcazar</title>
                <path title="Marco Benalcazar" fill="url(#basicPattern)" class="<%= idOficina == '73' ? 'svgSeleccionado' : ' ' %>" d="M364.7187915200971,630.0666568879063 C364.7187915200971,630.0666568879063 364.7187915200971,720.8965189075125 364.7187915200971,720.8965189075125 C364.7187915200971,720.8965189075125 274.8737098732422,720.8965189075125 274.8737098732422,720.8965189075125 C274.8737098732422,720.8965189075125 274.8737098732422,630.0666568879063 274.8737098732422,630.0666568879063 C274.8737098732422,630.0666568879063 364.7187915200971,630.0666568879063 364.7187915200971,630.0666568879063 z" addinfo="Marco Benalcazar" stroke="#000000" stroke-opacity="1" id="MarcoBenalcazar" tabindex="73" />
            </a>
        </g>
        <g id="svg_21">
            <a onclick="cargarInformacionOficina('74')">
                <title>Conserjeria2</title>
                <path title="Conserjeria" fill="url(#basicPattern)" class="<%= idOficina == '74' ? 'svgSeleccionado' : ' ' %>" d="M384.14736008671025,720.852378524765 C384.14736008671025,720.852378524765 384.14736008671025,767.1822353329193 384.14736008671025,767.1822353329193 C384.14736008671025,767.1822353329193 307.7308498451184,767.1822353329193 307.7308498451184,767.1822353329193 C307.7308498451184,767.1822353329193 307.7308498451184,720.852378524765 307.7308498451184,720.852378524765 C307.7308498451184,720.852378524765 384.14736008671025,720.852378524765 384.14736008671025,720.852378524765 z" addinfo="Conserjeria2" stroke="#000000" stroke-opacity="1" id="Conserjeria2" tabindex="74" />
            </a>
        </g>
        <g id="svg_22">
            <a onclick="cargarInformacionOficina('87')">
                <title>Archivo</title>
                <path title="Archivo" fill="url(#Triangle)" class="<%= idOficina == '87' ? 'svgSeleccionado' : ' ' %>" d="M674.8986754680302,632.0086118129911 C674.8986754680302,632.0086118129911 674.8986754680302,722.6637306365533 674.8986754680302,722.6637306365533 C674.8986754680302,722.6637306365533 613.371050536042,722.6637306365533 613.371050536042,722.6637306365533 C613.371050536042,722.6637306365533 613.371050536042,632.0086118129911 613.371050536042,632.0086118129911 C613.371050536042,632.0086118129911 674.8986754680302,632.0086118129911 674.8986754680302,632.0086118129911 z" addinfo="Archivo" stroke="#000000" stroke-opacity="1" id="Archivo" tabindex="87" />
            </a>
        </g>
        <g id="svg_23">
            <a onclick="cargarInformacionOficina('83')">
                <title>Proyecto de investigacion</title>
                <path title="Proyecto de investigacion" fill="url(#Triangle)" class="<%= idOficina == '83' ? 'svgSeleccionado' : ' ' %>" d="M675.0545830270494,490.9462274010151 C675.0545830270494,490.9462274010151 675.0545830270494,632.5564946572794 675.0545830270494,632.5564946572794 C675.0545830270494,632.5564946572794 510.03770024552887,632.5564946572794 510.03770024552887,632.5564946572794 C510.03770024552887,632.5564946572794 510.03770024552887,490.9462274010151 510.03770024552887,490.9462274010151 C510.03770024552887,490.9462274010151 675.0545830270494,490.9462274010151 675.0545830270494,490.9462274010151 z" addinfo="Proyecto de investigacion" stroke="#000000" stroke-opacity="1" id="ProyectoDeInvestigacion" tabindex="83" />
            </a>
        </g>
        <g id="svg_24">

            <path id="PuertaD" stroke="#000000" stroke-width="1" d="M 675.87,788.26             C 675.87,788.26 675.87,808.26 675.87,808.26             675.87,808.26 675.05,808.28 675.05,808.28             675.05,808.28 675.06,788.28 675.06,788.28             675.06,788.28 675.87,788.26 675.87,788.26 Z             M 675.88,788.34             C 689.91,788.45 694.94,801.19 695.19,808.44" stroke-opacity="1" />
        </g>


        <g id="svg_25">

            <path id="PuertaBod1" stroke="#000000" stroke-width="1" d="M911.5790909361839,528.19 C911.5790909361839,528.19 911.5790909361839,548.19 911.5790909361839,548.19 C911.5790909361839,548.19 910.759090936184,548.21 910.759090936184,548.21 C910.759090936184,548.21 910.7690909361839,528.21 910.7690909361839,528.21 C910.7690909361839,528.21 911.5790909361839,528.19 911.5790909361839,528.19 zM910.8190909361839,528.31 C900.609090936184,528.34 891.609090936184,537.59 891.489090936184,548.28 " stroke-opacity="1" />
        </g>

        <g id="svg_26">
            <a onclick="cargarInformacionOficina('77')">
                <title>Baño Hombres</title>
                <path id="BanioHombres" fill="url(#banio1)" class="<%= idOficina == '77' ? 'svgSeleccionado' : ' ' %>" stroke="#000000" stroke-width="1" d="M384.2633,767.21192C384.2633,767.21192 384.2233,798.01192 384.2233,810.64192C388.4433,810.66192 403.82798,810.85609 409.69798,810.73609C409.83798,859.10609 409.7833,940.29192 409.7833,940.29192C409.7833,940.29192 308.2633,940.34192 308.2633,940.34192C308.1333,934.62192 308.4233,776.39192 308.2833,767.26192C308.2833,767.26192 384.2633,767.21192 384.2633,767.21192zM408.8933,809.53192" addinfo="Baño Hombres" stroke-opacity="1" tabindex="77" />
            </a>
        </g>

        <g id="svg_27">
            <a onclick="cargarInformacionOficina('79')">
                <title>Baño Mujeres</title>
                <path title="Baño de Mujeres" fill="url(#banio2)" class="<%= idOficina == '79' ? 'svgSeleccionado' : ' ' %>" stroke="#000000" stroke-width="1" d="M435.90703799214447,767.2119193443489 C435.90703799214447,767.2119193443489 435.94747613570416,798.0119193443489 435.94747613570416,810.6419193443489 C431.68125199017067,810.6619193443489 416.12805452872425,810.8560893443489 410.19375696135927,810.7360893443489 C410.05222345890064,859.1060893443489 410.1075024011465,940.2919193443489 410.1075024011465,940.2919193443489 C410.1075024011465,940.2919193443489 512.7395107553047,940.3419193443489 512.7395107553047,940.3419193443489 C512.870934721873,934.621919344349 512.5777581810663,776.3919193443489 512.7192916835246,767.2619193443489 C512.7192916835246,767.2619193443489 435.90703799214447,767.2119193443489 435.90703799214447,767.2119193443489 zM411.0072510953468,809.5319193443489 " addinfo="BanioMujeres" stroke-opacity="1" id="BanioMujeres" tabindex="79" />
            </a>
        </g>
        <g id="svg_28">

            <path id="PuertaBH" stroke="#000000" stroke-width="1" d="M383.80787875175474,774.65 C383.80787875175474,774.65 383.80787875175474,775.38 383.80787875175474,775.38 C383.80787875175474,775.38 363.80787875175474,775.38 363.80787875175474,775.38 C363.80787875175474,775.38 363.80787875175474,774.65 363.80787875175474,774.65 C363.80787875175474,774.65 383.80787875175474,774.65 383.80787875175474,774.65 zM383.66787875175476,794.5 C371.53787875175476,794.38 363.47787875175476,781 363.61787875175474,775.16 " stroke-opacity="1" />
        </g>

        <g id="svg_29">
            <path id="PuertaBM" stroke="#000000" stroke-width="1" d="M456.990873773098,773.9558252483606 C456.990873773098,773.9558252483606 456.990873773098,774.6958252483606 456.990873773098,774.6958252483606 C456.990873773098,774.6958252483606 436.990873773098,774.6958252483606 436.990873773098,774.6958252483606 C436.990873773098,774.6958252483606 436.990873773098,773.9558252483606 436.990873773098,773.9558252483606 C436.990873773098,773.9558252483606 456.990873773098,773.9558252483606 456.990873773098,773.9558252483606 zM436.790873773098,795.4458252483606 C449.330873773098,795.2558252483607 456.920873773098,783.1658252483606 456.970873773098,774.7758252483607 " stroke-opacity="1" />
        </g>
        <g id="svg_30">
            <path id="PuertaOficinas" class="poppuphelper" stroke="#000000" stroke-width="2" d="M 475.89,491.08                C 475.89,491.08 475.88,511.08 475.88,511.08                475.88,511.08 475.07,511.09 475.07,511.09                475.07,511.09 475.07,491.09 475.07,491.09                475.07,491.09 475.89,491.08 475.89,491.08 Z                M 475.90,511.06                C 484.10,510.79 495.06,501.24 495.24,491.15                495.24,491.15 511.66,491.09 511.66,491.09M 454.44,490.94                C 454.44,490.94 475.13,490.94 475.13,490.94" addinfo="PuertaOficinas" stroke-opacity="1" />
        </g>
        <g id="svg_31">
            <path id="ParedA" stroke="#000000" stroke-width="2" d="M147.93,940.4285714030266 C147.93,940.4285714030266 218.27,940.4285714030266 218.27,940.4285714030266 " stroke-opacity="1" />
        </g>
        <g id="svg_32">
            <path id="PuertaPrincipalA" stroke="#000000" stroke-width="2" d="M 454.43,600.21             C 454.43,600.21 454.43,600.95 454.43,600.95             454.43,600.95 434.43,600.95 434.43,600.95             434.43,600.95 434.43,600.21 434.43,600.21             434.43,600.21 454.43,600.21 454.43,600.21 Z             M 454.64,619.82             C 443.18,619.82 434.18,612.45 434.26,601.55             434.32,601.36 434.35,601.17 434.35,600.97" stroke-opacity="1" />
        </g>
        <g id="svg_33">
            <path id="Pared2A" stroke="#000000" stroke-width="2" d="M454.40999980733454,584.040328023736 C454.40999980733454,584.040328023736 454.40999980733454,600.4399998715564 454.40999980733454,600.4399998715564 " stroFke-opacity="1" />
        </g>
        <g id="svg_34">
            <path id="Pared3A" stroke="#000000" stroke-width="2" d="M 454.50,619.66             C 454.50,619.66 454.50,629.70 454.50,629.70" stroke-opacity="1" />
        </g>
        <g id="svg_35">
            <path id="PuertaMyH" stroke="#000000" stroke-width="1" d="M146.2947367668152,584.8191228044033 C146.2947367668152,584.8191228044033 146.2947367668152,585.5591228044033 146.2947367668152,585.5591228044033 C146.2947367668152,585.5591228044033 126.29473676681519,585.5591228044033 126.29473676681519,585.5591228044033 C126.29473676681519,585.5591228044033 126.29473676681519,584.8191228044033 126.29473676681519,584.8191228044033 C126.29473676681519,584.8191228044033 146.2947367668152,584.8191228044033 146.2947367668152,584.8191228044033 zM145.89473676681519,604.3791228044033 C136.4447367668152,604.5591228044033 126.14473676681519,594.0691228044033 126.1947367668152,585.6891228044033 " stroke-opacity="1" />
        </g>
        <g id="svg_37">
            <path id="PuertaGS" stroke="#000000" stroke-width="1" d="M147.82,939.6582456088066 C147.82,939.6582456088066 147.82,940.3982456088066 147.82,940.3982456088066 C147.82,940.3982456088066 127.82,940.3982456088066 127.82,940.3982456088066 C127.82,940.3982456088066 127.82,939.6582456088066 127.82,939.6582456088066 C127.82,939.6582456088066 147.82,939.6582456088066 147.82,939.6582456088066 zM127.82,939.5082456088066 C127.86,932.6082456088066 138.56,922.0482456088066 147.75,921.9882456088067 " stroke-opacity="1" />
        </g>
        <g id="svg_38">
            <path id="PuertaMC" stroke="#000000" stroke-width="1" d="M 148.30,764.82             C 148.30,764.82 148.30,765.55 148.30,765.55             148.30,765.55 128.30,765.55 128.30,765.55             128.30,765.55 128.30,764.82 128.30,764.82             128.30,764.82 148.30,764.82 148.30,764.82 Z             M 128.32,764.79             C 128.36,757.90 139.06,747.33 148.25,747.27" stroke-opacity="1" />
        </g>
        <g id="svg_39">
            <path id="PuertaMB" stroke="#000000" stroke-width="1" d="M275.66,630.31 C275.66,630.31 275.66,650.31 275.66,650.31 C275.66,650.31 274.84,650.32 274.84,650.32 C274.84,650.32 274.85,630.32 274.85,630.32 C274.85,630.32 275.66,630.31 275.66,630.31 zM275.65,650.27 C283.85,649.99 294.81,640.44 294.99,630.35 " stroke-opacity="1" />
        </g>
        <g id="svg_40">
            <path id="PuertaGabS" stroke="#000000" stroke-width="1" d="M 148.32,765.63             C 148.32,765.63 148.32,766.36 148.32,766.36             148.32,766.36 128.32,766.36 128.32,766.36             128.32,766.36 128.32,765.63 128.32,765.63             128.32,765.63 148.32,765.63 148.32,765.63 Z             M 148.04,785.02             C 138.59,785.20 128.29,774.71 128.34,766.33" stroke-opacity="1" />
        </g>
        <g id="svg_41">
            <path id="PuertaSecBib" stroke="#000000" stroke-width="1" d="M 840.36,490.28             C 840.36,490.28 840.36,491.01 840.36,491.01             840.36,491.01 820.36,491.01 820.36,491.01             820.36,491.01 820.36,490.28 820.36,490.28             820.36,490.28 840.36,490.28 840.36,490.28 Z             M 840.35,490.24             C 840.05,480.49 832.23,470.49 820.41,470.49" stroke-opacity="1" />
        </g>
        <g id="svg_42">
            <a onclick="cargarInformacionOficina('37')">
                <title>Decanato</title>
                <path title="Decanato" fill="url(#lineas)" id="Decanato" class="<%= idOficina == '37' ? 'svgSeleccionado' : ' ' %>" d="M184.55175439119338,268.8626316165924 C184.55175439119338,268.8626316165924 184.52175439119338,417.5126316165924 184.52175439119338,417.5126316165924 C184.52175439119338,417.5126316165924 55.88175439119339,417.6726316165924 55.88175439119339,417.6726316165924 C55.88175439119339,417.6726316165924 55.88175439119339,268.8626316165924 55.88175439119339,268.8626316165924 C55.88175439119339,268.8626316165924 184.55175439119338,268.8626316165924 184.55175439119338,268.8626316165924 z" addinfo="Decanato" stroke="#000000" stroke-opacity="1" tabindex="37" />
            </a>
        </g>
        <g id="svg_44">
            <a onclick="cargarInformacionOficina('33')">
                <title>Subdecanato</title>
                <path id="Subdecanato" title="Subdecanato" fill="url(#lineas)" class="<%= idOficina == '33' ? 'svgSeleccionado' : ' ' %>" d="M184.85,56.81 C184.85,56.81 184.85,205.62 184.85,205.62 C184.85,205.62 56.18,205.62 56.18,205.62 C56.18,205.62 56.18,56.81 56.18,56.81 C56.18,56.81 184.85,56.81 184.85,56.81 z" addinfo="Subdecanato" stroke="#000000" stroke-opacity="1" tabindex="33" />
            </a>
        </g>
        <g id="svg_45">
            <a onclick="cargarInformacionOficina('35')">
                <title>Baño Rectorado</title>
                <path id="BanioRectorado" fill="url(#lineas)" title="Baño Rectorado" class="<%= idOficina == '35' ? 'svgSeleccionado' : ' ' %>" d="M132.5526316165924,205.8026316165924 C132.5526316165924,205.8026316165924 132.5526316165924,268.8026316165924 132.5526316165924,268.8026316165924 C132.5526316165924,268.8026316165924 56.05263161659241,268.8026316165924 56.05263161659241,268.8026316165924 C56.05263161659241,268.8026316165924 56.05263161659241,205.8026316165924 56.05263161659241,205.8026316165924 C56.05263161659241,205.8026316165924 132.5526316165924,205.8026316165924 132.5526316165924,205.8026316165924 z" addinfo="BanioRectorado" stroke="#000000" stroke-opacity="1" tabindex="35" />
            </a>
        </g>
        <g id="svg_46">
            <a onclick="cargarInformacionOficina('31')">
                <title>Sala de Reuniones</title>
                <path id="ConsejoFacultad" title="Sala de Reuniones" fill="url(#lineas)" class="<%= idOficina == '31' ? 'svgSeleccionado' : ' ' %>" d="M295.39,56.67096384644508 C295.39,56.67096384644508 295.39,205.4809638464451 295.39,205.4809638464451 C295.39,205.4809638464451 184.98,205.4809638464451 184.98,205.4809638464451 C184.98,205.4809638464451 184.98,56.67096384644508 184.98,56.67096384644508 C184.98,56.67096384644508 295.39,56.67096384644508 295.39,56.67096384644508 z" addinfo="ConsejoFacultad" stroke="#000000" stroke-opacity="1" tabindex="31" />
            </a>
        </g>

        <g id="svg_47">
            <a onclick="cargarInformacionOficina('30')">
                <title>Imagen Sistemas</title>
                <path id="ImagenSistemas" title="Imagen Sistemas" fill="url(#lineas)" class="<%= idOficina == '30' ? 'svgSeleccionado' : ' ' %>" d="M415.9474726095482,56.769036153554914 C415.9474726095482,56.769036153554914 415.9474726095482,205.58903615355493 415.9474726095482,205.58903615355493 C415.9474726095482,205.58903615355493 295.22777803984127,205.58903615355493 295.22777803984127,205.58903615355493 C295.22777803984127,205.58903615355493 295.22777803984127,56.769036153554914 295.22777803984127,56.769036153554914 C295.22777803984127,56.769036153554914 415.9474726095482,56.769036153554914 415.9474726095482,56.769036153554914 z" addinfo="ImagenSistemas" stroke="#000000" stroke-opacity="1" tabindex="30" />
            </a>
        </g>
        <g id="svg_48">
            <a onclick="cargarInformacionOficina('29')">
                <title>Información</title>
                <path id="Guardia" title="Información principal" fill="url(#lineas)" class="<%= idOficina == '29' ? 'svgSeleccionado' : ' ' %>" d="M 506.00,98.00            C 506.00,98.00 506.00,151.00 506.00,151.00              506.00,151.00 476.00,151.00 476.00,151.00              476.00,151.00 476.00,98.00 476.00,98.00              476.00,98.00 506.00,98.00 506.00,98.00 Z" addinfo="Guardia" stroke="#000000" stroke-opacity="1" tabindex="29" />
            </a>
        </g>
        <g id="svg_52">
            <path id="PuertaImS" stroke="#000000" stroke-width="1" d="M416.34,109.51 C416.34,109.51 416.34,110.25 416.34,110.25 C416.34,110.25 396.34,110.25 396.34,110.25 C396.34,110.25 396.34,109.51 396.34,109.51 C396.34,109.51 416.34,109.51 416.34,109.51 zM396.34,109.46 C396.38,102.56 407.08,92 416.27,91.94 " stroke-opacity="1" />
        </g>
        <g id="svg_53">
            <path id="PuertaJT" stroke="#000000" stroke-width="1" d="M 183.84,184.62             C 183.84,184.62 183.84,204.62 183.84,204.62             183.84,204.62 183.02,204.63 183.02,204.63             183.02,204.63 183.03,184.63 183.03,184.63             183.03,184.63 183.84,184.62 183.84,184.62 Z             M 183.16,184.43             C 172.95,184.47 163.95,193.72 163.83,204.40" stroke-opacity="1" />
        </g>
        <g id="svg_55">
            <path id="PuertaMHD" stroke="#000000" stroke-width="1" d="M183.83,269.04212112903593 C183.83,269.04212112903593 183.83,289.04212112903593 183.83,289.04212112903593 C183.83,289.04212112903593 183.01,289.0521211290359 183.01,289.0521211290359 C183.01,289.0521211290359 183.02,269.0521211290359 183.02,269.0521211290359 C183.02,269.0521211290359 183.83,269.04212112903593 183.83,269.04212112903593 zM182.98,289.04212112903593 C173.48,289.01212112903596 163.01,280.622121129036 162.92,269.34212112903595 " stroke-opacity="1" />
        </g>
        <g id="svg_57">
            <path id="PuertaBR" stroke="#000000" stroke-width="1" d="M131.9,206.2 C131.9,206.2 131.9,206.94 131.9,206.94 C131.9,206.94 111.9,206.94 111.9,206.94 C111.9,206.94 111.9,206.2 111.9,206.2 C111.9,206.2 131.9,206.2 131.9,206.2 zM132,225.31 C124.5,225.31 111.81,213.5 111.88,207.06 " stroke-opacity="1" />
        </g>
        <g id="svg_59">
            <path id="PuertaCF" stroke="#000000" stroke-width="1" d="M 184.92,184.50             C 184.92,184.50 184.92,204.50 184.92,204.50             184.92,204.50 184.11,204.51 184.11,204.51             184.11,204.51 184.11,184.51 184.11,184.51             184.11,184.51 184.92,184.50 184.92,184.50 Z             M 184.97,184.41             C 193.88,184.54 205.31,193.66 205.19,204.35" stroke-opacity="1" />
        </g>
        <g id="svg_61">
            <path id="PuertaRectorado" stroke="#000000" stroke-width="2" d="M415.64,205.6178797672329 C415.64,205.6178797672329 415.64,206.34630713202412 415.64,206.34630713202412 C415.64,206.34630713202412 395.64,206.34630713202412 395.64,206.34630713202412 C395.64,206.34630713202412 395.64,205.6178797672329 395.64,205.6178797672329 C395.64,205.6178797672329 415.64,205.6178797672329 415.64,205.6178797672329 zM415.95,255.21000225126437 C415.95,255.21000225126437 415.98,224.98026661242739 415.98,224.98026661242739 C404.52,224.98026661242739 395.52,217.7353674166657 395.6,206.99598559251362 C395.66,206.80895694479696 395.69,206.6219282970803 395.7,206.42505603632588 " stroke-opacity="1" />
        </g>
        <g id="svg_63">
            <path id="PuertaSecretaria" stroke="#000000" stroke-width="2" d="M294.39,206.8200007506025 C294.39,206.8200007506025 294.39,207.53048339206103 294.39,207.53048339206103 C294.39,207.53048339206103 274.39,207.53048339206103 274.39,207.53048339206103 C274.39,207.53048339206103 274.39,206.8200007506025 274.39,206.8200007506025 C274.39,206.8200007506025 294.39,206.8200007506025 294.39,206.8200007506025 zM294.45,254.9600002678049 C294.45,254.9600002678049 294.48,225.47497064727668 294.48,225.47497064727668 C283.02,225.47497064727668 274.02,218.40854869979742 274.1,207.93373029667262 C274.16,207.75130907791976 274.19,207.5688878591669 274.2,207.37686552363758 " stroke-opacity="1" />
        </g>
        <g id="svg_64">
            <path id="Puerta2piso" stroke="#000000" stroke-width="2" d="M444.25594577858254,56.676060564517975 C444.25594577858254,56.676060564517975 444.25594577858254,76.67606056451797 444.25594577858254,76.67606056451797 C444.25594577858254,76.67606056451797 443.4093511802892,76.68606056451797 443.4093511802892,76.68606056451797 C443.4093511802892,76.68606056451797 443.41967550465864,56.68606056451797 443.41967550465864,56.68606056451797 C443.41967550465864,56.68606056451797 444.25594577858254,56.676060564517975 444.25594577858254,56.676060564517975 zM444.4727565903406,76.68606056451797 C452.9490268976431,76.41606056451798 464.2541620821695,66.86606056451798 464.4399999208192,56.77606056451798 M416.68999971220296,56.62606056451798 C416.68999971220296,56.62606056451798 443.44032415339757,56.62606056451798 443.44032415339757,56.62606056451798 " stroke-opacity="1" />
        </g>
        <g id="svg_66">
            <path id="Puerta2piso2" stroke="#000000" stroke-width="2" d="M 485.39,56.05             C 485.39,56.05 485.38,76.05 485.38,76.05             485.38,76.05 484.57,76.06 484.57,76.06             484.57,76.06 484.57,56.06 484.57,56.06             484.57,56.06 485.39,56.05 485.39,56.05 Z             M 484.50,75.69             C 475.00,75.65 464.53,67.26 464.44,55.99M 511.62,56.12             C 511.62,56.12 485.34,56.16 485.34,56.16" stroke-opacity="1" />
        </g>
        <g id="svg_68">
            <path id="PuertaAlmacen" stroke="#000000" stroke-width="1" d="M292.5773683834076,418.1226316165924 C292.5773683834076,418.1226316165924 292.5673683834076,438.1226316165924 292.5673683834076,438.1226316165924 C292.5673683834076,438.1226316165924 291.7573683834076,438.1326316165924 291.7573683834076,438.1326316165924 C291.7573683834076,438.1326316165924 291.7573683834076,418.1326316165924 291.7573683834076,418.1326316165924 C291.7573683834076,418.1326316165924 292.5773683834076,418.1226316165924 292.5773683834076,418.1226316165924 zM291.4873683834076,437.8126316165924 C281.9873683834076,437.7826316165924 271.5173683834076,429.3826316165924 271.4273683834076,418.1126316165924 " stroke-opacity="1" />
        </g>

        <g id="svg_70">
            <a onclick="cargarInformacionOficina('51')">
                <title>Area Profesores FIS</title>
                <rect fill="url(#grid)" stroke-dashoffset="" title="Area Profesores FIS" fill-rule="nonzero" id="AreaProfesoresFIS2" x="819.4490966796875" y="268.2055358886719" width="183.3791046142578" height="222.82351684570312" style="color: rgb(0, 0, 0);" class="<%= idOficina == '51' ? 'svgSeleccionado' : '' %>" stroke="#000000" stroke-opacity="1" addinfo="Area Profesores FIS" tabindex="51" />
            </a>
        </g>

        <g id="svg_71">
            <a onclick="cargarInformacionOficina('49')">
                <title>Area Profesores FIS</title>
                <g id="svg_73">
                    <rect fill="url(#grid)" title="Area Profesores FIS" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" id="AreaProfesoresFIS1" x="510.2857360839844" y="56.3278694152832" width="309" height="434.85711669921875" style="color: rgb(0, 0, 0);" class="<%= idOficina == '49' ? 'svgSeleccionado' : 'r' %>" stroke-opacity="1" addinfo="Area Profesores FIS" tabindex="49" />
                </g>
            </a>
        </g>
        <g id="svg_77">
            <path id="PuertaBibio2" stroke="#000000" stroke-width="1" d="M 531.84,201.06             C 531.84,201.06 531.84,201.80 531.84,201.80             531.84,201.80 511.84,201.80 511.84,201.80             511.84,201.80 511.84,201.06 511.84,201.06             511.84,201.06 531.84,201.06 531.84,201.06 Z             M 511.83,181.18             C 523.56,181.19 531.88,193.13 531.88,201.13" stroke-opacity="1" />
        </g>
        <g id="svg_79">
            <path id="PuertaBibio" stroke="#000000" stroke-width="1" d="M 531.72,161.57             C 531.72,161.57 531.72,162.31 531.72,162.31             531.72,162.31 511.72,162.31 511.72,162.31             511.72,162.31 511.72,161.57 511.72,161.57             511.72,161.57 531.72,161.57 531.72,161.57 Z             M 531.78,162.24             C 531.69,171.25 523.13,181.00 511.73,181.15" stroke-opacity="1" />
        </g>

        <g id="svg_81">
            <a onclick="cargarInformacionOficina('101')">
                <title>Mayra Carrion</title>
                <rect fill="url(#Triangle)" title="Mayra Carrion" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" id="MayraCarrion" x="912.3478393554688" y="491.038330078125" width="90.43478393554688" height="84.56521606445312" style="color: rgb(0, 0, 0);" class="<%= idOficina == '101' ? 'svgSeleccionado' : ' ' %>" stroke-opacity="1" addinfo="Mayra Carrion" tabindex="101" />
            </a>
        </g>

        <g id="svg_83">
            <a onclick="cargarInformacionOficina('97')">
                <title>Jonathan Barriga</title>
                <rect fill="url(#Triangle)" title="Jonathan Barriga" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" x="774.7478637695312" y="548.382568359375" width="91.63478088378906" height="87.33071899414062" style="color: rgb(0, 0, 0);" class="<%= idOficina == '97' ? 'svgSeleccionado' : ' ' %>" id="JonathanBarriga" stroke-opacity="1" addinfo="Jonathan Barriga" tabindex="97" />
            </a>
        </g>

        <g id="svg_85">
            <a onclick="cargarInformacionOficina('95')">
                <title>Profesor</title>
                <rect fill="url(#Triangle)" title="profesor" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" x="774.7478637695312" y="635.352294921875" width="91.63478088378906" height="87.33071899414062" style="color: rgb(0, 0, 0);" class="<%= idOficina == '95' ? 'svgSeleccionado' : ' ' %>" addinfo="Profesor" id="Profesor" stroke-opacity="1" tabindex="95" />
            </a>
        </g>

        <g id="svg_87">
            <a onclick="cargarInformacionOficina('93')">
                <title>PatricioZambrano y CarlosArchundia</title>
                <rect fill="url(#Triangle)" title="PatricioZambrano y CarlosArchundia" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" x="774.7478637695312" y="722.322021484375" width="91.63478088378906" height="86.48896789550781" style="color: rgb(0, 0, 0);" class="<%= idOficina == '93' ? 'svgSeleccionado' : ' ' %>" id="PatricioZambranoCarlosArchundia" addinfo="PatricioZambrano CarlosArchundia" stroke-opacity="1" tabindex="93" />
            </a>
        </g>

        <g id="svg_89">
            <a onclick="cargarInformacionOficina('103')">
                <title>Sandra Sanchez</title>
                <rect title="Sandra Sanchez" fill="url(#Triangle)" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" x="912.3478393554688" y="575.565185546875" width="90.43478393554688" height="94.56522369384766" style="color: rgb(0, 0, 0);" class="<%= idOficina == '103' ? 'svgSeleccionado' : ' ' %>" id="SandraSanchez" stroke-opacity="1" addinfo="Sandra Sanchez" tabindex="103" />
            </a>
        </g>

        <g id="svg_91">
            <a onclick="cargarInformacionOficina('105')">
                <title>Jenny Torres</title>
                <rect title="Jenny Torres" fill="url(#Triangle)" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" x="912.3478393554688" y="670.3218994140625" width="90.43478393554688" height="94.56522369384766" style="color: rgb(0, 0, 0);" class="<%= idOficina == '105' ? 'svgSeleccionado' : ' ' %>" id="JennyTorres" stroke-opacity="1" addinfo="Jenny Torres" tabindex="105" />
            </a>
        </g>

        <g id="svg_93">
            <a onclick="cargarInformacionOficina('107')">
                <title>Carlos Montenegro</title>
                <rect fill="url(#Triangle)" title="Carlos Montenegro" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" x="912.3478393554688" y="764.6956787109375" width="90.4347915649414" height="89.34783935546875" style="color: rgb(0, 0, 0);" class="<%= idOficina == '107' ? 'svgSeleccionado' : ' ' %>" id="CarlosMontenegro" addinfo="Carlos Montenegro" stroke-opacity="1" tabindex="107" />
            </a>
        </g>

        <g id="svg_95">
            <a onclick="cargarInformacionOficina('111')">
                <title>Rosa Navarrete</title>
                <rect fill="url(#Triangle)" title="Rosa Navarrete" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" x="714.3890991210938" y="854.06201171875" width="100.89965057373047" height="86.37837219238281" style="color: rgb(0, 0, 0);" class="<%= idOficina == '111' ? 'svgSeleccionado' : ' ' %>" addinfo="Rosa Navarrete" id="RosaNavarrete" stroke-opacity="1" tabindex="111" />
            </a>
        </g>

        <g id="svg_97">
            <a onclick="cargarInformacionOficina('115')">
                <title>Raul Cordova</title>
                <rect fill="url(#Triangle)" title="Raul Cordova" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" x="512.7679443359375" y="853.94775390625" width="100.89965057373047" height="86.37837219238281" style="color: rgb(0, 0, 0);" class="<%= idOficina == '115' ? 'svgSeleccionado' : ' ' %>" id="RaulCordova" stroke-opacity="1" addinfo="Raul Cordova" tabindex="115" />
            </a>
        </g>

        <g id="svg_99">
            <a onclick="cargarInformacionOficina('113')">
                <title>Maria Hallo</title>
                <rect fill="url(#Triangle)" title="Maria Hallo" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" x="613.6928100585938" y="853.94775390625" width="100.89965057373047" height="86.37837219238281" style="color: rgb(0, 0, 0);" class="<%= idOficina == '113' ? 'svgSeleccionado' : ' ' %>" id="MariaHallo" addinfo="Maria Hallo" stroke-opacity="1" tabindex="113" />
            </a>
        </g>

        <g id="svg_101">
            <a onclick="cargarInformacionOficina('109')">
                <title>Monserrate Intriago, Ivan Carrera y Elisa Mena</title>
                <rect title=">Monserrate Intriago, Ivan Carrera y Elisa Mena" fill="url(#Triangle)" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" x="814.95654296875" y="854.1051635742188" width="187.74822998046875" height="86.36276245117188" style="color: rgb(0, 0, 0);" class="<%= idOficina == '109' ? 'svgSeleccionado' : ' ' %>" id="IntriagoCarreraMena" addinfo="Monserrate Intriago, Ivan Carrera, Elisa Mena" stroke-opacity="1" tabindex="109" />
            </a>
        </g>
        <g id="svg_103">
            <path id="PuertaDF" stroke="#000000" stroke-width="1" d="M 932.61,574.48             C 932.61,574.48 932.61,575.22 932.61,575.22             932.61,575.22 912.61,575.22 912.61,575.22             912.61,575.22 912.61,574.48 912.61,574.48             912.61,574.48 932.61,574.48 932.61,574.48 Z             M 912.50,555.13             C 925.63,555.38 932.63,566.13 932.63,574.56" stroke-opacity="1" />
        </g>
        <g id="svg_105">
            <path id="PuertaSS" stroke="#000000" stroke-width="1" d="M932.6935687416792,669.0703164434433 C932.6935687416792,669.0703164434433 932.6935687416792,669.8103164434433 932.6935687416792,669.8103164434433 C932.6935687416792,669.8103164434433 912.6935687416792,669.8103164434433 912.6935687416792,669.8103164434433 C912.6935687416792,669.8103164434433 912.6935687416792,669.0703164434433 912.6935687416792,669.0703164434433 C912.6935687416792,669.0703164434433 932.6935687416792,669.0703164434433 932.6935687416792,669.0703164434433 zM912.8935687416792,649.6903164434433 C923.2635687416791,649.9403164434433 932.7335687416792,660.6203164434432 932.7335687416792,669.0603164434433 " stroke-opacity="1" />
        </g>
        <g id="svg_107">
            <path id="PuertaJG" stroke="#000000" stroke-width="1" d="M932.7135687416792,670.0615303111076 C932.7135687416792,670.0615303111076 932.7135687416792,670.8015303111076 932.7135687416792,670.8015303111076 C932.7135687416792,670.8015303111076 912.7135687416792,670.8015303111076 912.7135687416792,670.8015303111076 C912.7135687416792,670.8015303111076 912.7135687416792,670.0615303111076 912.7135687416792,670.0615303111076 C912.7135687416792,670.0615303111076 932.7135687416792,670.0615303111076 932.7135687416792,670.0615303111076 zM912.7535687416791,690.9315303111076 C925.3835687416791,690.9315303111076 932.7035687416792,679.2315303111077 932.7535687416791,670.8415303111076 " stroke-opacity="1" />
        </g>
        <g id="svg_111">
            <path id="PuertaMIIC" stroke="#000000" stroke-width="1" d="M 932.50,853.61             C 932.50,853.61 932.50,854.35 932.50,854.35             932.50,854.35 912.50,854.35 912.50,854.35             912.50,854.35 912.50,853.61 912.50,853.61             912.50,853.61 932.50,853.61 932.50,853.61 Z             M 932.48,853.57             C 932.18,843.82 924.36,833.82 912.55,833.82" stroke-opacity="1" />
        </g>
        <g id="svg_113">
            <path id="PuertaCM" stroke="#000000" stroke-width="1" d="M 912.38,854.27             C 912.38,854.27 912.38,874.27 912.38,874.27             912.38,874.27 911.56,874.29 911.56,874.29             911.56,874.29 911.57,854.29 911.57,854.29             911.57,854.29 912.38,854.27 912.38,854.27 Z             M 911.51,874.27             C 902.01,874.24 888.64,865.57 888.64,854.03" stroke-opacity="1" />
        </g>
        <g id="svg_115">
            <path id="PuertaRN" stroke="#000000" stroke-width="1" d="M715.5043930587173,854.2387861174345 C715.5043930587173,854.2387861174345 715.5043930587173,874.2387861174345 715.5043930587173,874.2387861174345 C715.5043930587173,874.2387861174345 714.6843930587172,874.2487861174345 714.6843930587172,874.2487861174345 C714.6843930587172,874.2487861174345 714.6943930587172,854.2487861174345 714.6943930587172,854.2487861174345 C714.6943930587172,854.2487861174345 715.5043930587173,854.2387861174345 715.5043930587173,854.2387861174345 zM715.5243930587172,874.2587861174345 C723.7243930587173,873.9887861174345 735.5843930587173,863.4987861174345 735.4443930587172,854.2187861174345 " stroke-opacity="1" />
        </g>

        <g id="svg_117">
            <path id="PuertaMH" stroke="#000000" stroke-width="1" d="M714.3231791687011,854.2487861174345 C714.3231791687011,854.2487861174345 714.3231791687011,874.2487861174345 714.3231791687011,874.2487861174345 C714.3231791687011,874.2487861174345 713.5031791687012,874.2587861174345 713.5031791687012,874.2587861174345 C713.5031791687012,874.2587861174345 713.5131791687012,854.2587861174345 713.5131791687012,854.2587861174345 C713.5131791687012,854.2587861174345 714.3231791687011,854.2487861174345 714.3231791687011,854.2487861174345 zM713.4431791687011,874.1987861174345 C703.9431791687011,874.1687861174345 693.4731791687012,865.7687861174345 693.3831791687012,854.4987861174345 " stroke-opacity="1" />
        </g>
        <g id="svg_119">
            <path id="PuertaJBPZ" stroke="#000000" stroke-width="1" d="M 866.44,565.98             C 866.44,565.98 866.44,566.72 866.44,566.72             866.44,566.72 846.44,566.72 846.44,566.72             846.44,566.72 846.44,565.98 846.44,565.98             846.44,565.98 866.44,565.98 866.44,565.98 Z             M 846.45,565.96             C 846.49,559.06 857.19,548.50 866.38,548.44" stroke-opacity="1" />
        </g>

        <g id="svg_121">
            <a onclick="cargarInformacionOficina('45')">
                <title>Secretaria General</title>
                <path title="Secretaria General" fill="url(#lineas)" class="<%= idOficina == '45' ? 'svgSeleccionado' : ' ' %>" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" marker-start="" marker-mid="" marker-end="" id="svg_14" d="M454.3414617317733,302.1875810162878 L417.3541286428877,255.1808710162878 L344.91289550855595,255.1808710162878 L344.91289550855595,490.6094210162878 L454.3414617317733,490.6094210162878 L454.3414617317733,302.1875810162878 z" style="color: rgb(0, 0, 0);" addinfo="Secretaria General" stroke-opacity="1" tabindex="45" />
        </g>
        <g id="svg_123">
            <path id="PuertaAW" stroke="#000000" stroke-width="1" d="M 866.39,721.85             C 866.39,721.85 866.39,722.59 866.39,722.59             866.39,722.59 846.39,722.59 846.39,722.59             846.39,722.59 846.39,721.85 846.39,721.85             846.39,721.85 866.39,721.85 866.39,721.85 Z             M 846.39,721.88             C 846.43,714.99 855.25,702.69 866.25,702.63" stroke-opacity="1" />
        </g>
        <g id="svg_125">
            <path id="PuertaCI" stroke="#000000" stroke-width="1" d="M 866.37,788.20             C 866.37,788.20 866.36,808.20 866.36,808.20             866.36,808.20 865.55,808.22 865.55,808.22             865.55,808.22 865.55,788.22 865.55,788.22             865.55,788.22 866.37,788.20 866.37,788.20 Z             M 865.59,788.22             C 855.38,788.25 846.38,797.50 846.25,808.19" stroke-opacity="1" />
        </g>


        <g id="svg_127">
            <path id="PuertaB2" stroke="#000000" stroke-width="1" d="M 531.61,693.36             C 531.61,693.36 531.61,694.10 531.61,694.10             531.61,694.10 511.61,694.10 511.61,694.10             511.61,694.10 511.61,693.36 511.61,693.36             511.61,693.36 531.61,693.36 531.61,693.36 Z             M 511.63,674.31             C 521.13,674.63 531.64,685.02 531.64,693.46" stroke-opacity="1" />
        </g>
        <g id="svg_129">
            <path id="PuertaPostG" stroke="#000000" stroke-width="1" d="M 531.56,630.88             C 531.56,630.88 531.56,631.62 531.56,631.62             531.56,631.62 511.56,631.62 511.56,631.62             511.56,631.62 511.56,630.88 511.56,630.88             511.56,630.88 531.56,630.88 531.56,630.88 Z             M 511.44,611.75             C 521.56,611.94 531.56,622.40 531.56,630.84" stroke-opacity="1" />
        </g>
        <g id="svg_131">
            <path id="PuertaRC" stroke="#000000" stroke-width="1" d="M513.7750485396385,854.0816505116225 C513.7750485396385,854.0816505116225 513.7750485396385,874.0816505116225 513.7750485396385,874.0816505116225 C513.7750485396385,874.0816505116225 512.9550485396385,874.0916505116224 512.9550485396385,874.0916505116224 C512.9550485396385,874.0916505116224 512.9650485396385,854.0916505116224 512.9650485396385,854.0916505116224 C512.9650485396385,854.0916505116224 513.7750485396385,854.0816505116225 513.7750485396385,854.0816505116225 zM513.7350485396386,874.0716505116225 C521.9350485396385,873.7916505116224 532.8950485396385,864.2516505116224 533.0750485396385,854.1616505116224 " stroke-opacity="1" />
        </g>
        <g id="svg_133">
            <path id="PuertaEM" stroke="#000000" stroke-width="1" d="M238.68,939.4028571343422 C238.68,939.4028571343422 238.68,940.1428571343422 238.68,940.1428571343422 C238.68,940.1428571343422 218.68,940.1428571343422 218.68,940.1428571343422 C218.68,940.1428571343422 218.68,939.4028571343422 218.68,939.4028571343422 C218.68,939.4028571343422 238.68,939.4028571343422 238.68,939.4028571343422 zM218.81,920.0228571343422 C228.94,920.2028571343421 238.94,930.6728571343422 238.94,939.1128571343422 " stroke-opacity="1" />
        </g>
        <g id="svg_135">
            <path id="PuertaTC" stroke="#000000" stroke-width="1" d="M238.5957142984867,767.5814287757873 C238.5957142984867,767.5814287757873 238.5957142984867,768.3214287757874 238.5957142984867,768.3214287757874 C238.5957142984867,768.3214287757874 218.5957142984867,768.3214287757874 218.5957142984867,768.3214287757874 C218.5957142984867,768.3214287757874 218.5957142984867,767.5814287757873 218.5957142984867,767.5814287757873 C218.5957142984867,767.5814287757873 238.5957142984867,767.5814287757873 238.5957142984867,767.5814287757873 zM218.7857142984867,787.6314287757873 C231.33571429848672,787.4514287757873 238.4857142984867,776.7014287757873 238.5357142984867,768.3114287757874 " stroke-opacity="1" />
        </g>
        <g id="svg_137">
            <path id="PuertaVA" stroke="#000000" stroke-width="1" d="M384.1628571343422,730.35 C384.1628571343422,730.35 384.1628571343422,731.09 384.1628571343422,731.09 C384.1628571343422,731.09 364.1628571343422,731.09 364.1628571343422,731.09 C364.1628571343422,731.09 364.1628571343422,730.35 364.1628571343422,730.35 C364.1628571343422,730.35 384.1628571343422,730.35 384.1628571343422,730.35 zM383.9628571343422,749.64 C372.4128571343422,749.36 364.0228571343422,736.85 364.1628571343422,731.02 " stroke-opacity="1" />
        </g>

        <g id="svg_138">
            <path id="PuertaPrincipalB" stroke="#000000" stroke-width="2" d="M532.06,722.8718538331985 C532.06,722.8718538331985 532.06,723.5823707902431 532.06,723.5823707902431 C532.06,723.5823707902431 512.06,723.5823707902431 512.06,723.5823707902431 C512.06,723.5823707902431 512.06,722.8718538331985 512.06,722.8718538331985 C512.06,722.8718538331985 532.06,722.8718538331985 532.06,722.8718538331985 zM512.0699999999999,741.2012710088492 C520.67,741.2012710088492 532.03,731.5900889277458 532.08,723.5343628877401 " addinfo="PuertaPrincipalB" stroke-opacity="1" />
        </g>
        <g id="svg_139">
            <path fill-opacity="1" stroke="#000000" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="miter" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" d="M512.357177734375,741.0956536233425 L512.357177734375,767.5 " id="PuertaArea2" />
        </g>
        <g id="svg_141">
            <path id="PuertaBP" stroke="#000000" stroke-width="1" d="M364.67,563.9473683834076 C364.67,563.9473683834076 364.66,583.9473683834076 364.66,583.9473683834076 C364.66,583.9473683834076 363.85,583.9573683834076 363.85,583.9573683834076 C363.85,583.9573683834076 363.85,563.9573683834076 363.85,563.9573683834076 C363.85,563.9573683834076 364.67,563.9473683834076 364.67,563.9473683834076 zM364.68,563.8573683834076 C378.71,563.9673683834076 383.74,576.6973683834076 383.99,583.9473683834076 " stroke-opacity="1" />
        </g>
        <g id="svg_142">
            <path id="PuertaAL" stroke="#000000" stroke-width="1" d="M269.04,563.5964912176132 C269.04,563.5964912176132 269.04,583.5964912176132 269.04,583.5964912176132 C269.04,583.5964912176132 268.23,583.6064912176132 268.23,583.6064912176132 C268.23,583.6064912176132 268.23,563.6064912176132 268.23,563.6064912176132 C268.23,563.6064912176132 269.04,563.5964912176132 269.04,563.5964912176132 zM269.06,563.5064912176132 C283.09,563.6164912176132 288.12,576.3464912176132 288.37,583.5964912176132 " stroke-opacity="1" />
        </g>
        <g id="svg_143">
            <path id="PuertaJS" stroke="#000000" stroke-width="1" d="M268.19,563.5364912176133 C268.19,563.5364912176133 268.19,583.5364912176133 268.19,583.5364912176133 C268.19,583.5364912176133 267.37,583.5564912176133 267.37,583.5564912176133 C267.37,583.5564912176133 267.38,563.5564912176133 267.38,563.5564912176133 C267.38,563.5564912176133 268.19,563.5364912176133 268.19,563.5364912176133 zM267.39,563.5264912176132 C257.18,563.5664912176132 248.18,572.8164912176132 248.05,583.4964912176132 " stroke-opacity="1" />
        </g>
        <g id="svg_144">
            <path id="PuertaMS" stroke="#000000" stroke-width="1" d="M174.92,563.3156139326096 C174.92,563.3156139326096 174.92,583.3156139326096 174.92,583.3156139326096 C174.92,583.3156139326096 174.1,583.3256139326096 174.1,583.3256139326096 C174.1,583.3256139326096 174.11,563.3256139326096 174.11,563.3256139326096 C174.11,563.3256139326096 174.92,563.3156139326096 174.92,563.3156139326096 zM174.04,563.3056139326095 C163.83,563.3356139326096 154.83,572.5856139326096 154.7,583.2756139326095 " stroke-opacity="1" />
        </g>
        <g id="svg_145">
            <a onclick="cargarInformacionOficina('39')">
                <title>Secretaria Decanato</title>
                <path title="Secretaria Decanato" fill="url(#lineas)" stroke="#000000" stroke-dashoffset="" fill-rule="nonzero" marker-start="" marker-mid="" marker-end="" id="SecretariaDecanato" addinfo="Secretaria Decanato" d="M246.16688308350444,362.45569326421736 L233.83672880293057,348.7243849353776 L184.41249693877592,348.7243849353776 L184.41249693877592,417.49631572525914 L246.16688308350444,417.49631572525914 L246.16688308350444,362.45569326421736 z" style="color: rgb(0, 0, 0);" class="<%= idOficina == '39' ? 'svgSeleccionado' : ' ' %>" stroke-opacity="1" tabindex="39" />
        </g>
        <g id="svg_146">
            <a onclick="cargarInformacionOficina('43')">
                <title>Cocina</title>
                <path title="Cocina" fill="url(#lineas)" class="<%= idOficina == '43' ? 'svgSeleccionado' : ' ' %>" d="M344.76337050328266,417.9269743575996 C344.76337050328266,417.9269743575996 344.76337050328266,490.64729365084423 344.76337050328266,490.64729365084423 C344.76337050328266,490.64729365084423 292.9182853145127,490.64729365084423 292.9182853145127,490.64729365084423 C292.9182853145127,490.64729365084423 292.9182853145127,417.9269743575996 292.9182853145127,417.9269743575996 C292.9182853145127,417.9269743575996 344.76337050328266,417.9269743575996 344.76337050328266,417.9269743575996 z" addinfo="Cocina" stroke="#000000" stroke-opacity="1" id="cocina" tabindex="43" />

        </g>








        <a onclick="cargarInformacionOficina('37')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" id="svg_49" x="88.27587890625" y="340.563232421875" width="69.2298812866211" height="17.862070083618164" style="<%= idOficina == '37' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>">

                    <p xmlns="http://www.w3.org/2000/svg" id="titulodecanato">
                        Decanato
                    </p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('45')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="360.4598083496094" y="369.0689697265625" width="80.14942169189453" height="33.95402526855469" style="<%= idOficina == '45' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_36">


                    <p xmlns="http://www.w3.org/2000/svg" id="texto1">
                        Secretaría General
                    </p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('39')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="175.86209106445312" y="371.82757568359375" width="80.14942169189453" height="33.95402526855469" style="<%= idOficina == '39' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_134">

                <p xmlns="http://www.w3.org/2000/svg" id="texto2">Secretaría Decanato</p>

                </p>
            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('33')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="82.988525390625" y="127.2298812866211" width="80.14942169189453" height="20.160919189453125" style="<%= idOficina == '33' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_51">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto3">Subdecanato</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('43')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="300.1149597167969" y="443.7816162109375" width="45.66666030883789" height="20.160919189453125" style="<%= idOficina == '43' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_62" transform="rotate(-90.11148071289062 322.9482727050781,453.862060546875) ">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto4">Cocina</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('41')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="144.36782836914062" y="442.6321716308594" width="80.14942169189453" height="20.160919189453125" style="<%= idOficina == '41' ? 'color: rgb(255, 255, 255);' : 'color: rgb(0, 0, 0);' %>" id="svg_60">
               
                    <p xmlns="http://www.w3.org/2000/svg" id="texto100">Almacén Decanato</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('35')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="78.8505859375" y="228.83908081054688" width="36.47126388549805" height="20.160919189453125" style="<%= idOficina == '35' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_58">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto5">Baño</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('31')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="202.988525390625" y="114.47126770019531" width="80.14942169189453" height="31.65517234802246" style="<%= idOficina == '31' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_56">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto6">Sala de reuniones</p>

            </foreignObject>
          </a>


        <a onclick="cargarInformacionOficina('30')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="313.3333435058594" y="116.77011108398438" width="80.14942169189453" height="20.160919189453125" style="<%= idOficina == '30' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_54">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto7">Imagen Sistemas</p>

            </foreignObject>
          </a>


        <a onclick="cargarInformacionOficina('49')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="20" font-family="Arial, Helvetica, sans-serif" marker-end="" x="583.689697265625" y="250.55172729492188" width="151.47125244140625" height="125.90804290771484" style="<%= idOficina == '49' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_136">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto8">Area Profesores FIS</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('51')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="20" font-family="Arial, Helvetica, sans-serif" marker-end="" x="836.689697265625" y="355.5517272949219" width="151.47125244140625" height="125.90804290771484" style="<%= idOficina == '51' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_140">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto9">Area Profesores FIS</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('47')">
            <foreignObject fill="#dadada" stroke="#990000" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="275.9770202636719" y="302.4023132324219" width="80.14942169189453" height="20.160919189453125" style="<%= idOficina == '47' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_50" transform="rotate(-90.099365234375 316.05172729492193,312.48275756835943) ">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto10">Secretaría Doctorado</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('83')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" id="texto11" x="539.5402221679688" y="546.9425659179688" width="102.20689392089844" height="32" style="<%= idOficina == '83' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>">

                    <p xmlns="http://www.w3.org/2000/svg">Proyecto de investigación</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('67')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="58.39081573486328" y="885.3333129882812" width="86.68965911865234" height="32" style="<%= idOficina == '67' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_65">
                    <p xmlns="http://www.w3.org/2000/svg" id="texto12">Profesor visitante</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('65')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="60.0000114440918" y="798.436767578125" width="86.68965911865234" height="65" style="<%= idOficina == '65' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_67">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto13">MSc. Andrés Larco</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('63')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="61.03450012207031" y="709.2413330078125" width="80.3678207397461" height="32" style="<%= idOficina == '63' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_69">
                    <p xmlns="http://www.w3.org/2000/svg" id="texto14">MSc. Henry Paz </p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('57')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="180.45977783203125" y="524.0689697265625" width="86.68965911865234" height="32" style="<%= idOficina == '57' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_74">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto15">MSc. Luis Salvador</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('115')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="517.701171875" y="887.1724243164062" width="86.68965911865234" height="32" style="<%= idOficina == '115' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_102">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto16">MSc. Raúl Cordova</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('109')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="811.264404296875" y="866.709716796875" width="86.68965911865234" height="32" style="<%= idOficina == '109' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_108" title="profesor" class="">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto17">MSc. Monserrate Intriago</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('109')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="915.7471313476562" y="869.0609741210938" width="86.68965911865234" height="32" style="<%= idOficina == '109' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_110" title="profesor" class="">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto18">MSc. Iván Carrera</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('109')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="873.1689453125" y="900.7225952148438" width="86.68965911865234" height="32" style="<%= idOficina == '109' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_132" title="profesor" class="">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto19">MSc. Elisa Mena</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('107')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="917.3563232421875" y="798.8965454101562" width="86.68965911865234" height="32" style="<%= idOficina == '107' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_112">
                    <p xmlns="http://www.w3.org/2000/svg" id="texto20">MSc. Carlos Montenegro</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('105')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="913.7930908203125" y="709.701171875" width="86.68965911865234" height="32" style="<%= idOficina == '105' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_114">


                    <p xmlns="http://www.w3.org/2000/svg" id="texto21">Dra. Jenny Torres</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('103')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="917.7010498046875" y="606.137939453125" width="86.68965911865234" height="32" style="<%= idOficina == '103' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_116">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto22">MSc. Sandra Sánchez</p>
            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('101')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="913.563232421875" y="518.6666870117188" width="86.68965911865234" height="32" style="<%= idOficina == '101' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_118">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto23">MSc. Mayra Carrión</p>
            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('99')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="799.6551513671875" y="516.2528686523438" width="86.68965911865234" height="32" style="<%= idOficina == '99' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_120">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto24">Bodega</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('97')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="782.298828125" y="581.0804443359375" width="86.68965911865234" height="32" style="<%= idOficina == '97' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_122">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto25">MSc. Jhonatthan Barriga </p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('95')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="777.586181640625" y="675.7930908203125" width="86.68965911865234" height="32" style="<%= idOficina == '95' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_124">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto26">Profesor</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('93')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="775.6888427734375" y="728.078857421875" width="86.68965911865234" height="32" style="<%= idOficina == '93' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_126" title="profesor" class="">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto27">MSc. Patricio Zambrano</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('93')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="775.5158081054688" y="762.8468017578125" width="86.68965911865234" height="32" style="<%= idOficina == '93' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_130" title="profesor" class="">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto28">MSc. Carlos Archundia</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('91')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="683.1033935546875" y="752.57470703125" width="86.68965911865234" height="32" style="<%= idOficina == '91' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_128">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto29">Proyecto de Investigación</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('111')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="722.7586059570312" y="888.2069091796875" width="86.68965911865234" height="32" style="<%= idOficina == '111' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_106">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto30">MSc. Rosa Navarrete</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('113')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="622.1838989257812" y="885.3333129882812" width="86.68965911865234" height="32" style="<%= idOficina == '113' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_104">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto31">MSc. María Hallo</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('55')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="274.59771728515625" y="523.9540405273438" width="86.68965911865234" height="32" style="<%= idOficina == '55' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_76">


                    <p xmlns="http://www.w3.org/2000/svg" id="texto32">MSc. Rodrigo Chancusig</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('69')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="220.45977783203125" y="883.6091918945312" width="86.68965911865234" height="32" style="<%= idOficina == '69' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_80">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto33">Dr. Enrique Mafla</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('71')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="222.06898498535156" y="797.862060546875" width="86.68965911865234" height="32" style="<%= idOficina == '71' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_82">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto34">MSc. Tania Calle</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('73')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="278.8505859375" y="662.6896362304688" width="86.68965911865234" height="32" style="<%= idOficina == '73' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_84">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto35">Dr. Marco Benalcazar</p>
            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('75')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="366.66668701171875" y="663.1494140625" width="86.68965911865234" height="32" style="<%= idOficina == '75' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_86">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto36">Dra. María Perez</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('53')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="365.65771484375" y="527.7470703125" width="86.68965911865234" height="32" style="<%= idOficina == '53' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_78">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto37">MSc. Bolivar Palán

                </p>
            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('85')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="677.8161010742188" y="553.609130859375" width="86.68965911865234" height="32" style="<%= idOficina == '85' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_88">


                    <p xmlns="http://www.w3.org/2000/svg" id="texto38">Ing. Tania Pazmiño</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('85')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="680" y="629.9309692382812" width="86.68965911865234" height="32" style="<%= idOficina == '85' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_92">


                    <p xmlns="http://www.w3.org/2000/svg" id="texto39">Ing. Andrés Cevallos</p>

            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('89')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="525.4022827148438" y="670.160888671875" width="86.68965911865234" height="32" style="<%= idOficina == '89' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_90">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto40">Conserjería 1


                </p>
            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('77')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="316.0919494628906" y="856.2528686523438" width="86.68965911865234" height="32" style="<%= idOficina == '77' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_100">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto41">Baño de Hombres


                </p>
            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('79')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="420.6896667480469" y="856.8275756835938" width="86.68965911865234" height="32" style="<%= idOficina == '79' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_98">

                    <p xmlns="http://www.w3.org/2000/svg" id="texto42">Baño de Mujeres

              
                </p>
            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('74')">
            <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="299" y="738.3563232421875" width="86.68965911865234" height="32" style="<%= idOficina == '74' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_96" transform="rotate(22.116254806518555 342.3448181152346,754.3563232421875) ">


                    <p xmlns="http://www.w3.org/2000/svg" id="texto43">Conserjería 2


                </p>
            </foreignObject>
          </a>

        <a onclick="cargarInformacionOficina('87')">
    <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="600.57470703125" y="672.9194946289062" width="86.68965911865234" height="32" style="<%= idOficina == '87' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_94">
    

      <p id="texto44">Archivo

      </p>

      </foreignObject>  </a>

        </a>

        <a onclick="cargarInformacionOficina('61')">
    <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="62.0689811706543" y="620.0459594726562" width="86.68965911865234" height="32" style="<%= idOficina == '61' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_43">


        <p id="texto45">Dra. Myriam Hernández</p>

    </foreignObject>
    </a>

        <a onclick="cargarInformacionOficina('59')">
    <foreignObject fill="#4a90d6" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" font-size="12" font-family="Arial, Helvetica, sans-serif" marker-end="" x="74.02300262451172" y="523.3792724609375" width="86.68965911865234" height="32" style="<%= idOficina == '59' ? 'color: rgb(255, 255, 255); text-align: center;' : 'color: rgb(0, 0, 0); text-align: center;' %>" id="svg_72">


        <p id="texto46">Dr. Marco Santorum</p>

    </foreignObject>
    </a>
    </g>

</svg>